*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #305cb4;
    --drak-blue: #021D54;
    --light-blue: #0138a6;
    --drak-blue-hover: #021d54b7;
    --light-white:  #e6edfa;
}
body{
    background-color: var(--background);
    display: flex;
    max-width: 99.9vw;
}
p{
    font-family: Poppins, sans-serif;
}