*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #1c1d1e;
    --drak-blue: #0b0b0b;
    --light-blue: #232323;
    --drak-blue-hover: #049f07d7;
    --light-white:  #e6f3fa;
    --white-grey: #cdcccc;
}
body{
    background-color: var(--background);
    display: flex;
    max-width: 99.9vw;
}
p{
    font-family: Poppins, sans-serif;
}
a{
    text-decoration: none;
}