.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--drak-blue);
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    z-index: 300;
    height: 100px;
    backdrop-filter: blur(10px);
    background-color: #0b0b0b7d;
}
.todo_header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_info {
    display: flex;
    align-items: center;
}

.header_nombre_correo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_nombre_correo a{
    width: fit-content;
    padding: 2px;
}

.fotocv {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    background-color: black;
}
.header_nombre_correo a{
    color: white;
    text-decoration: none;
}
.nav_flags{
    display: flex;
}
.flags {
    display: flex;
    gap: 10px;
}

.flag {
    width: 40px;
    cursor: pointer;
    border: 1px solid var(--drak-blue);
}
@media(max-width: 600px) {
    .header_nombre_correo h1{
        font-size: 1.7em;
    }
    .todo_header{
        width: 85%;
    }
    
}
@media(max-width: 500px) {
    .header {
        height: 80px;
    }
    .todo_header{
        width: 90%;
        margin-left: 2vw;
    }
    .fotocv {
        width: 12vw;
        height: 12vw;
        min-height: 50px;
        min-width: 50px;
    }
    .header_nombre_correo h1{
        font-size:clamp(19px, 6vw, 40px);
    }
    .header_nombre_correo a{
        width: fit-content;
    }
    .flags {
        display: flex;
        gap: 5px;
    }
    .flag {
        width: 30px;
        cursor: pointer;
        border: 1px solid var(--drak-blue);
    }
}
@media(max-width: 500px){

}