.NavLateral {
    position: fixed;
    left: 0px;
    bottom: 0;
    height: calc(100% - 100px);
    width: 170px;
    background-color: var(--drak-blue);
    border-right: 2px solid var(--light-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-white);
    transition: left 0.3s ease;
    z-index: 200;
}

.invisible {
    height: 10vh;
    width: 170px;
    transition: width 0.3s ease;
    background-color: red;
    z-index: 2000;
}

.NavLateral_visible {
    left: -170px;
}

.navInvisible {

    width: 0;
}

.nav_elemento {
    padding: 10px;
    width: 100%;
}

.email {
    color: var(--light-white);
    text-decoration: none;
}

.btn_mostrar {
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(24px, -50%) rotate(180deg);
    font-weight: bold;
    cursor: pointer;
}

.rotate {
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(24px, -50%);
    font-weight: bold;
    cursor: pointer;
}

.NavLateral h1 {
    margin-top: 10px;
}

.ind {
    font-size: 1.7em;
    color: var(--light-white);
    cursor: pointer;
}

.ind:hover {
    text-decoration: underline;
}

.btn_hamburguesa_mostrar {
    display: none;
}

@media(max-width: 937px) {
    .invisible {
        height: 0;
        width: 0;
    }

    .btn_mostrar {
        display: none;
    }

    .btn_hamburguesa_mostrar {
        display: block;
        z-index: 10000000;
        position: fixed;
        Left: 2%;
        top: 50px;
        transform: translate(24px, -50%) rotate(180deg);
        font-weight: bold;
        cursor: pointer;
        color: var(--light-white);
        font-size: 2em;
    }
    .NavLateral {
        position: fixed;
        left: 0px;
        bottom: 0;
        height: calc(100% - 100px);
        width: 100%;
        background-color: var(--drak-blue);
        border-right: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--light-white);
        transition: top 0.3s ease;
        z-index: 200;
    }
    .NavLateral_visible {
        top: -100%;
    }
    .nav_elemento {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
    .nav_elemento:hover{
        background-color: var(--light-white);
    }
}