.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80%;
}
.foto_nombre {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.portada::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid var(--light-white);
}

.fotocv {
    min-height: 200px;
    min-width: 200px;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--light-white);
    background-color: black;
}

.foto_nombre_derecha {
    width: 70%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.foto_nombre_derecha h1 {
    font-size: clamp(40px, 6vw, 80px);
    width: fit-content;
}
.rol {
    font-size: clamp(20px, 4vw, 60px);
    width: fit-content;
    text-decoration: underline;

}
.description{
    font-size: clamp(15px, 1.5vw, 40px);
    margin-top: 15px;
    max-width: max-content;
}
.info{
    display: flex;
    margin-bottom: 20px;
}
.info_izquierda{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 300px;
}
.info_izquierda::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid var(--light-white);
}
.email, .phone{
    display: flex;
    align-items: center;
}
.email h2, .phone h2{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}
.icon{
    height: 25px;
    color: var(--light-white);
}
.iconW{
    height: 30px;
    color: var(--light-white);
}
.info_derecha{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info_derecha button{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    border: 2px solid var(--light-white);
    background-color: var(--drak-blue);
    color: var(--light-white);
    border-radius: 20px;
    cursor: pointer;
    transition: ease .6s ;
}
.info_derecha button:hover{
    background-color: var(--drak-blue-hover);
    border: 2px solid black;
    box-shadow: 0px 0px 10px 2px var(--light-white);
}
@media(max-width: 1100px){
    .foto_nombre {
        width: 95%;
    } 
}